<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SimpleInsuranceTestSuite">
    <listeners>
        <listener class-name="utils.LoggingListener"/>
    </listeners>

    <test name = "CreateBatchInsurancePoliciesTest">
        <classes>
            <class name = "CreateBatchInsurancePoliciesTest" />
        </classes>
    </test>

    <test name = "ListingFunctionalityTest">
        <classes>
            <class name = "ListingFunctionalityTest" />
        </classes>
    </test>

    <test name = "CreateNewPolicyTest">
        <classes>
            <class name = "CreateNewPolicyTest" />
        </classes>
    </test>

</suite>